Repository upbound/terraform-provider-aws, pull requests merged in 2024-05, with the labels that each got.

#243 Copy xpprovider/xpprovider.go & internal/conns/awsclient_xp.go to expose some provider internals
  internal/conns/awsclient_xp.go
  xpprovider/xpprovider.go
Labels: size/M, client-connections

#246 Expose AWS SDK Client Session
  internal/conns/awsclient_xp.go
Labels: size/XS, client-connections

#236 Add MQ User resource v5.31.0
  go.mod
  go.sum
  internal/conns/awsclient_gen.go
  internal/service/mq/service_package_gen.go
  internal/service/mq/user.go
  internal/service/mq/user_test.go
  names/names.go
  names/names_data.csv
Labels: size/XL, client-connections, generators, tests, service/mq

#245 Add MQ User resource v5.50.0
  internal/service/mq/service_package_gen.go
  internal/service/mq/user.go
  internal/service/mq/user_test.go
Labels: size/XL, generators, tests, service/mq
