Repository upbound/terraform-provider-aws, pull requests merged in 2024-10, with the labels that each got.

#274 Prepare upjet v5.70.0
  internal/conns/awsclient_xp.go
  internal/service/mq/service_package_gen.go
  internal/service/mq/user.go
  internal/service/mq/user_test.go
  xpprovider/xpprovider.go
Labels: client-connections, generators, tests, service/mq

#275 Implement deprecated diagnostic helper function locally
  internal/service/mq/user.go
Labels: service/mq

#276 Add null check for lb_listener forward action config
  internal/service/elbv2/listener.go
Labels: service/elbv2

#277 Prepare upjet-v5.73.0
  internal/conns/awsclient_xp.go
  internal/service/elbv2/listener.go
  internal/service/mq/service_package_gen.go
  internal/service/mq/user.go
  internal/service/mq/user_test.go
  xpprovider/xpprovider.go
Labels: client-connections, generators, tests, service/elbv2, service/mq
