Repository upbound/terraform-provider-aws, pull requests merged in 2025-01, with the labels that each got.

#279 Fix EC2 instance panic
  internal/tags/key_value_tags.go
Labels: tags

#281 Prepare Upjet v5.82.2
  internal/conns/awsclient_xp.go
  internal/service/elbv2/listener.go
  internal/service/mq/service_package_gen.go
  internal/service/mq/user.go
  internal/service/mq/user_test.go
  internal/tags/key_value_tags.go
  xpprovider/xpprovider.go
Labels: client-connections, generators, tests, tags, service/elbv2, service/mq

#282 Implement a public setter for client accountID
  internal/conns/awsclient_xp.go
Labels: client-connections
